nav {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
}

nav>* {
    padding: 1rem;
}

nav * {
    color: var(--text-color-with-primary-color);

}

.active {
    border-bottom: 2px solid #fff;
    box-shadow: inset 0px 0px 25px #e9e9e929;
    transition: box-shadow .5s;
}

.mobile-nav-icon {
    display: none;
}

.nav-search-form {
    display: flex;
    gap: 1rem;
}

.nav-search-form>* {
    color: #333;
    padding: .5rem 1rem;
    border-radius: var(--border-radius, 5px);
    border: none;
}

.nav-search {
    width: 100%;
    padding: .5rem 1rem;
    background-color: #EBEDF3;

    outline: none;
}

.nav-search:focus {
    background-color: #f3f6f9;
}

.nav-search-form>button {
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    nav {
        justify-content: space-evenly;
        top: unset;
        position: fixed;
        bottom: 0;
        box-shadow: 0 -5px 25px rgba(0, 0, 0, 0.4);
    }

    nav>* {
        padding: 1rem 2rem;
    }

    .mobile-nav-name {
        display: none;
    }

    .mobile-nav-icon>* {
        fill: #fff;
    }

    .mobile-nav-icon {
        display: block;
        font-size: 1.2rem;
    }

    .active {
        border-bottom: 0;
        border-top: 2px solid #fff;
    }
}