.product {
    width: 100%;
    display: flex;
    gap: 2rem;
    padding: 2rem;
    background-color: #fff;
}

.product>* {
    width: 50%;
    padding: 0 2rem;
}

.product-img>img {
    width: 500px;
}

.product-brand {
    font-weight: bold;
    color: var(--brand-name-color);
}

.product-name {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.other-varients {

    margin: 2rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.other-varients a {
    border: 1px dotted orange;
    font-size: .8rem;
    padding: .5rem 1rem;
    margin-right: 5px;
    transition: all .5s;
}

.other-varients a:hover {
    border: 1px solid orange !important;
    background-color: rgba(255, 166, 0, 0.383);

}

.current-varient {
    border: 1px solid orange !important;
    background-color: rgba(255, 166, 0, 0.383);
    font-weight: bold;
}

.somthing-went-wrong {
    height: fit-content;
    text-align: center;
    padding: 3rem;
}

.somthing-went-wrong a {
    display: inline-block;
    background-color: var(--primary-color);
    padding: .5rem 1rem;
    color: var(--text-color-white);
    font-size: .8rem;
    margin-top: 1rem;
    border-radius: 3px;
    font-weight: bold;
}

.color-box-details-page {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.other-varient-colors {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.rating-stars {
    margin-top: 1rem;
}

.check-delevery-form input {
    border: 0;
    background-color: transparent;
    outline: none;
    padding: .5rem .5rem;
    border-bottom: 1px solid var(--primary-color);
    font-weight: bold;
}

.check-delevery-form input:focus .check-delevery-form input {
    border-bottom: 2px solid var(--primary-color);
}

.check-delevery-form [type="submit"] {
    color: var(--primary-color);
}

.is-delevery-available {
    padding-top: 1rem;
    text-transform: capitalize;
    font-size: 0.8rem;
}

.incorrect-pincode {
    /* background-color: #fb2a2a; */
    color: #ff0000;
    font-weight: bold;
    /* border: 1px dotted #820e0e; */
    padding: .5rem;
    border-radius: 5px;
    width: fit-content;
}

.product-available-at-location {
    /* background-color: green; */
    color: #00b700;
    font-weight: bold;
    /* border: 1px dotted #033d03; */
    padding: .5rem;
    border-radius: 5px;
    width: fit-content;
}

.about-product {
    border-top: 1px solid #333;
    padding: 1rem 0;
    margin-top: 3rem;
}

.about-product h4 {
    margin-bottom: 1rem;
}

.about-product ul {
    margin-left: 1rem;
    width: 500px;
}

.about-product li {
    margin-top: .5rem;
    line-height: 1.5rem;
}