.primary-btn {
  display: inline-block;
  background-color: var(--primary-color);
  padding: .5rem 1rem;
  color: var(--text-color-white);
  font-size: .8rem;
  margin-top: 1rem;
  border-radius: 3px;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
}

.primary-btn-250px {
  display: block;
  width: 250px;
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  color: var(--text-color-white);
  font-size: .8rem;
  margin-top: 1rem;
  border-radius: 3px;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
}

* {
  color: #333;
}

input[type="submit"] {
  cursor: pointer;
}

main {
  margin-top: 70px;
}